.App {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.current-valute-container {
  margin: 0 20px;

  .valute-table {
    padding: 5px 10px;
    font-size: 22px;
    line-height: 30px;
    background-color: #c4dfe6;
    cursor: default;

    &__header {
      font-weight: 700;

      td {
        min-width: 150px;
      }

      th {
        min-width: 50px;
      }
    }

    &__body {
      tr {
        cursor: pointer;
      }
    }
  }

  .cbr-link {
    height: 35px;
    width: 100%;
    background-color: #c4dfe6;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      text-decoration: none;

      &:active {
        color: #66a5ad;
      }
    }
  }
}

.previous-valute-container {
  margin: 0 20px;
  cursor: default;

  .valute-table {
    padding: 5px 10px;
    font-size: 22px;
    line-height: 30px;
    background-color: #c4dfe6;
    position: sticky;
    top: 66px;
    width: 100%;

    &__header {
      font-weight: 700;

      td {
        min-width: 150px;
      }

      th {
        min-width: 50px;
      }
    }

    &__body {
      tr {
      }
    }
  }

  .valute-label {
    height: 35px;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 30px;

    span {
      padding: 5px 10px;
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      background-color: #c4dfe6;
    }

    button {
      border: none;
      cursor: pointer;

      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.tooltip {
  border-radius: 20px;

  span {
    font-size: 22px;
  }
}

@media (max-width: 954px) {
  .App {
    flex-direction: column;
  }

  .valute-table {
    width: 100%;
  }

  .previous-valute-container {
    margin-top: 20px;
  }
}

@media (min-width: 954px) {
  .App {
    flex-direction: row;
  }

  .valute-table {
  }
}
