.App {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.valute-container {
  padding: 5px 10px;
  margin: 0 20px;
  font-size: 22px;
  border: 1px solid #000;

  &__header {
    td {
      width: 150px;
    }

    th {
      width: 10px;
    }
  }

  &__body {
    tr {
      cursor: pointer;
    }
  }
}

.chosen {
  position: sticky;
  top: 30px;
}

.tooltip {
  border-radius: 20px;
  span {
    font-size: 22px;
  }
}
