.App {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.valute-container {
  margin: 0 20px;
  padding: 5px 10px;
  font-size: 22px;
  line-height: 30px;
  background-color: #c4dfe6;

  &__header {
    font-weight: 700;

    td {
      width: 150px;
    }

    th {
      width: 10px;
    }
  }

  &__body {
    tr {
      cursor: pointer;
    }
  }
}

.tooltip {
  border-radius: 20px;

  span {
    font-size: 22px;
  }
}

.valute-label {
  margin: 0 20px;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 416px;

  span {
    padding: 5px 10px;
    width: 100%;
    font-size: 20px;
    background-color: #c4dfe6;
  }

  button {
    border: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 860px) {
  .App {
    flex-direction: column;
  }

  .valute-container {
    width: calc(100% - 40px);
    top: 456px;
  }

  .chosen {
    margin-top: 30px;
  }
}

@media (min-width: 860px) {
  .App {
    flex-direction: row;
  }

  .chosen {
    position: sticky;
    top: 30px;
  }
}
